
body {
	font-family: 'Noto Sans', sans-serif;
}

.new-block {
	max-width: 1600px;
	height: 915px;
	background: #F7F7F7;
	margin: 0 auto;
}

.container-intro {
	width:1203px; 
	height:322px; 
	background-image: url("../image/Rectangle11.jpg");
	top: 80px;
	position: relative;
	margin: 0 auto;
	display: block;
    text-decoration: none;
}

.blue-box {
	width: 432px;
	height: 322px;
	background: #5499F0;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px 0px 0px 5px;
}

.blue-box-radius {
	border: 2px solid rgba(255, 255, 255, 0.3);
	height: 302px;
	width: 412px;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
}

.intro-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 78px;
	margin-left: 30px;
	margin-bottom: 15px;
	display: block;
}

.intro-description {
	font-size: 16px;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.7);
	margin-left: 30px;
}

.intro-button {
	width: 180px;
	height: 42px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	background: #5499F0;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 50px;
}

.intro-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #5499F0;
}

.intro-button:focus{
	outline: none;
}

.link-button {
	text-decoration: none;
}

.container-item {
	width: 1203px;
	position: relative;
	margin: 0 auto;
	top: 122px;
	display: flex;
	justify-content: space-between;
}

.item-top {
    display: flex;
    width: 1203px;
    justify-content: space-between;
}

.item-midle {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.item-link {
	display: block;
    text-decoration: none;
}

.item-box {
	width: 383px;
	height: 150px;
	background: #FFFFFF;
	border-radius: 5px;
	padding-top: 36px;
	box-sizing: border-box;
}

.image-box {
	position: absolute;
	top: 0px;
	z-index: 5;
}

.image-left {
	left: 16.9%;
}

.image-midle {
	left: 51%;
	top: 28%;
}

.image-right {
	left: 84%;
}

.item-title {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 110%;
	color: #37393A;
	margin-left: 20px;
}

.title-midle {
	display: block;
	max-width: 145px;
}

.item-description {
	font-size: 16px;
	line-height: 100%;
	color: #838383;
	margin-top: 15px;
	margin-left: 20px;
	display: block;
}

.description-right {
	display: block;
	max-width: 138px;
	line-height: 130%;
	letter-spacing: 1px;
}

.image-news {
	position: absolute;
	top: -9%;
	left: 33%;
	z-index: 20;
}

.image-vector {
	position: absolute;
	top: 11%;
	left: 33.1%;
	z-index: 0;
}

.container-item-double {
	top: 162px;
}

.item-double-box {
	width: 589px;
	height: 200px;
	background: linear-gradient(to right, #FFFFFF 75%, rgba(84, 153, 240, 0.37) 25%);
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
}

.image-down-left {
	left: 27.7%;
	top: -6%;
}

.down-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	color: #37393A;
	display: block;
	padding-top: 48px;
	margin-left: 40px;
} 

.image-news-left {
	left: -1.7%;
	top: -7%;
}

.image-down-right {
	left: 954px;
	top: 11px;
}

.right-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	color: #37393A;
	display: block;
	padding-top: 30px;
	margin-left: 40px;
}

.description-down {
	font-size: 14px;
	line-height: 130%;
	color: #838383;
	display: block;
	max-width: 214px;
	margin-left: 40px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.right-button {
	margin-left: 40px;
	margin-top: 17px;
}

.right-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #5499F0;
	border: 2px solid #5499F0;
	border-radius: 5px;
}

.left-button {
	margin-left: 40px;
	margin-top: 25px;
}

.left-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #5499F0;
	border: 2px solid #5499F0;
	border-radius: 5px;
}

.image-news-right {
	left: 49.2%;
	top: -7%;
}

.image-vector-polar {
	left: 50%;
	top: 8%;
}

.image-vector-sport {
	left: -0.9%;
	top: 8%;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
	
	.new-block {
		max-width: 1280px;
	}
	
	.container-block {
		max-width: 1000px;
		margin: 0 auto;
	}

	.container-item  {
		width: 1000px;
	}

	.container-intro {
		width: 1000px;
		background-size: 100%;
		height: 267px;
	}

	.blue-box {
		width: 381px;
		height: 267px;
	}

	.blue-box-radius {
		height: 247px;
		width: 360px;
	}

	.intro-title {
		margin-top: 57px;
	}

	.item-top {
    	width: 1000px;
	}

	.item-midle {
    	width: 661px;
    }

	.item-box {
		width: 320px;
		padding-left: 25px;
	}

	.item-title {
		font-size: 17px;
		margin-left: -12px;
   	 	max-width: 155px;
    	display: block;
    }

	.image-left {
		left: 15.9%;
		top: 14px;
	}

	.image-box-left {
		width: 80%;
	}

	.image-midle {
		left: 52%;
	}

	.image-news {
    	left: 31.9%;
	}

	.image-right {
    	top: 15px;
    	right: -3%;
    }

	.item-description {
		font-size: 13px;
		margin-top: 11px;
    	margin-left: -8px;
    }

	.item-double-box {
		width: 470px;
	}

	.down-title {
		margin-left: 40px;
		font-size: 24px;
	}

	.image-down-left {
		left: 24.7%;
	}

	.image-news-left {
		left: -2.2%;
	}

	.image-down-right {
		left: 780px;
	}

	.image-news-right {
		left: 50.8%;
	}

}

@media screen and (min-width: 960px) and (max-width: 1023px)  {

	.new-block {
		max-width: 1023px;
		height: 935px;
	}

	.container-block {
		max-width: 1000px;
	}

	.item-top {
    	width: 900px;
    	display: block;
    }

    .item-midle {
    	width: 900px;
    	margin-bottom: 30px;
    }

	.container-intro {
		width: 900px;
		height: 240px;
		background-size: 100%;
		top: 50px;
	}

	.blue-box {
		width: 350px;
		height: 240px;
	}

	.blue-box-radius {
		height: 220px;
		width: 330px;
	}

	.intro-title {
		margin-top: 42px;
	}

	.container-item {
		width: 900px;
		top: 90px;
	}

	.item-box {
		width: 430px;
	}

	.image-left {
		left: 26.7%;
	}

	.item-title {
		font-size: 24px;
		margin-left: 28px;
	}

	.item-description {
		margin-left: 28px;
	}

	.image-midle {
		left: 79%;
		top: 24%;
	}

	.title-midle {
		max-width: 147px;
		left: 80%;
    	top: 10%;
	}

	.image-news {
		left: 49.8%;
		top: -5%;
	}

	.image-right {
    	left: 26.4%;
    	top: 54%;
	}

	.container-item-double {
    	top: 122px;
	}

	.item-double-box {
		width: 430px;
	}

	.double-box-righ {
		margin-top: 23px;
	}

	.down-title {
		margin-left: 40px;
	}

	.image-down-left {
		left: 23.7%;
	}

	.image-news-left {
		left: -2.6%;
	}

	.image-down-right {
		left: 690px;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px)  {

	.new-block {
		max-width: 959px;
		height: 1205px;
	}

	.container-block {
		max-width: 850px;
		margin: 0 auto;
	}

	.container-intro {
		width: 700px;
		height: 187px;
		background-size: 100%;
		top: 25px;
	}

	.blue-box {
		width: 255px;
		height: 187px;
	}

	.blue-box-radius {
		height: 168px;
		width: 235px;
	}

	.intro-title {
		margin-top: 31px;
		margin-bottom: 12px;
		margin-left: 20px;
	}

	.intro-description {
		margin-left: 20px;
	}

	.intro-button {
		margin-top: 20px;
		margin-left: 20px;
	}

	.container-item {
		width: 700px;
		top: 55px;
		display: block;
	}

	.item-top, .item-midle {
    	display: block;
    	width: 700px;
    }

    .item-midle, .item-link{
		margin-bottom: 25px;
	}

	.item-box {
		width: 700px;
		height: 155px;
	}

	.item-title {
		font-size: 30px;
		margin-left: 115px;
	}

	.item-description {
		font-size: 20px;
		margin-top: 30px;
		margin-left: 115px;
	}

	.title-midle {
   		max-width: 500px;
	}

	.description-right {
		margin-top: 14px;
		max-width: 500px;
	}
	
	.image-left {
    	left: 73%;
    	top: 3px;
	}

	.image-midle {
    	left: 74%;
    	top: 43%;
    }

    .image-right {
    	left: 72.6%;
    	top: 70.5%;
	}

	.image-news {
    	top: 32%;
    	left: -3.2%;
    }

	.container-item-double {
		display: block;
		margin-top: 32px;
	}
	
	.item-double-box {
		width: 700px;
		height: 155px;
		padding-top: 20px;
		box-sizing: content-box;
	}

	.image-down-left {
		left: 58.7%;
		top: -7%;
	}

	.image-down-right {
		left: 60.5%;
		top: 55%;
	}

	.image-news-left {
		top: -3%;
		left: -3.2%;
		display: block;
	}

	.image-news-right {
		display: block;
		left: -3.1%;
		top: 51%;
	}

	.down-title, .right-title {
		font-size: 30px;
		margin-left: 72px;
	}

	.left-button, .right-button {
		width: 215px;
		height: 50px;
		margin-left: 72px;
	}

	.down-title {
		margin-top: -21px;
	}

	.right-title { 
		margin-top: -28px;
	}

	.description-down {
		margin-left: 72px;
	}

	.right-button {
		margin-top: 15px;
	}

	.double-box-right {
		margin-top: 32px;
	}

}

@media screen and (min-width: 640px) and (max-width: 767px) {

	.new-block {
		max-width: 767px;
		height: 1119px;
	}

	.container-block {
		max-width: 700px;
		margin: 0 auto;
	}

	.container-intro {
		width: 600px;
		height: 160px;
		background-size: 100%;
		top: 20px;
	}

	.blue-box {
		width: 225px;
		height: 160px;
	}

	.blue-box-radius {
		height: 140px;
		width: 204px;
	}

	.intro-title {
		font-size: 20px;
		margin-top: 18px;
		margin-bottom: 4px;
	}

	.intro-description {
		font-size: 11px;
	}

	.intro-button {
		width: 110px;
		height: 32px;
		font-size: 13px;
		margin-top: 29px;
	}

	.container-item {
		width: 600px;
		top: 45px;
	}

	.item-top, .item-midle {
    	display: block;
    	width: 600px;
    }

    .item-midle, .item-link {
    	margin-bottom: 25px;
    }

	.item-box {
		width: 600px;
	}

	.image-left {
		left: 68.2%;
	}

	.image-midle {
    	left: 68%;
    	top: 39%;
	}

	.image-right {
    	left: 68.1%;
    	top: 66.7%;
	}

	.image-news {
    	top: 30.5%;
    	left: -3.8%;
    }

    .image-news-left {
		display: block;
		left: -3.7%;
		top: -4%;
	}

	.item-title {
		font-size: 26px;
		margin-left: 70px;
	}

	.item-description {
		font-size: 20px;
		margin-left: 70px;
	}

	.description-right {
   	 	max-width: 300px;
   	 }

	.container-item-double {
		display: block;
		top: 25px;
	}

	.title-midle {
    	max-width: 300px;
	}

	.item-double-box {
		width: 600px;
		height: 165px;
	}

	.down-title, .right-title {
		padding-top: 36px;
	}

	.image-down-left {
		left: 54.7%;
		top: -9%;
	}

	.left-button, .right-button {
		margin-left: 70px;
		width: 145px;
		height: 40px;
	}

	.right-title {
		margin-left: 70px;
		font-size: 26px;
	}

	.description-down {
		font-size: 11px;
		margin-left: 70px;
	}

	.image-down-right {
		left: 348px;
		top: 185px;
	}

	.right-button {
		margin-top: 13px;
	}

	.image-news-right {
		display: block;
		left: -3.8%;
		top: 49.3%;
	}
}

@media screen  and (min-width: 400px) and (max-width: 639px) {

	.new-block {
		max-width: 639px;
	}

	.container-block {
		max-width: 400px;
		margin: 0 auto;
	}

	.container-intro {
		width: 390px;
		height: 86px;
		background-size: 100%;
		top: 20px;
	}

	.blue-box {
		width: 145px;
		height: 86px;
	}

	.blue-box-radius {
		border: none;
	}

	.intro-title {
		font-size: 14px;
		margin-top: 0px;
		margin-left: 12px;
	}

	.intro-description {
    	display: block;
    	font-size: 11px;
    	margin-left: 13px;
    	margin-top: -12px;
    	max-width: 85px;
    }


	.intro-button {
   	 	width: 87px;
    	height: 23px;
    	font-size: 11px;
    	margin-left: 12px;
   	 	margin-top: 8px;
   	 }

	.image-news-left, .image-news-right {
		display: block;
	}

	.container-item {
		width: 400px;
		top: 45px;
	}

	.item-top {
    	display: block;
    	width: 400px;
    }

    .item-midle {
    	display: block;
    	width: 400px;
	}

	.item-midle, .item-link {
		margin-bottom: 25px;
	}

	.item-box {
		width: 390px;
		height: 115px;
	}

	.image-box-left {
		width: 145px;
	}

	.image-left {
		left: 62.5%;
	}

	.image-midle {
    	left: 59%;
    	top: 38%;
	}

	.image-right {
    	left: 61%;
    	top: 67%;
	}

	.image-news {
    	top: 30%;
    	left: -5.5%;
    }

    .item-description {
    	margin-top: 8px;
    }
    
	.container-item-double {
		display: block;
		top: 21px;
	}

	.item-double-box {
		width: 390px;
		height: 159px;
	}
	.image-news-left {
		left: -5.7%;
		top: -4%;
	}

	.image-down-left {
		left: 43.7%;
		top: -10%;
	}

	.image-news-right {
    	left: -5.5%;
    	top: 49%;
	}

	.down-title, .right-title {
		padding-top: 42px;
	}

	.left-button, .right-button {
		margin-left: 40px;
		margin-top: 25px;
		width: 108px;
		height: 40px;
		font-size: 13px;
	}

	.description-down {
		font-size: 10px;
	}

	.right-button {
		margin-top: 9px;
	}

	.image-down-right {
		left: 190px;
		top: 175px;
	}

}

@media screen and (max-width: 399px) {

	.new-block {
		max-width: 399px;
		height: 795px;
	}

	.container-block {
		max-width: 300px;
		margin: 0 auto;
	}

	.container-intro {
    	width: 300px;
    	height: 80px;
    	background-size: 100%;
    	top: 15px;
	}

	.blue-box {
    	width: 128px;
    	height: 80px;
	}

	.blue-box-radius {
    	border: none;
	}

	.intro-title {
    	font-size: 11px;
    	margin-left: 0px;
		margin-bottom: 5px;
		margin-top: -2px;
	}

	.intro-description {
    	display: block;
    	font-size: 9px;
    	margin-left: 0px;
    }

    .intro-button {
   	 	width: 87px;
    	height: 23px;
    	font-size: 11px;
    	margin-left: 0px;
		margin-top: 17px;
   	 }

	.image-news-left, .image-news-right {
		display: block;
	}

	.container-item {
		width: 300px;
		top: 35px;
	}

	.item-top {
    	display: block;
    	width: 300px;
    }

    .item-midle {
    	display: block;
    	width: 300px;
	}

	.item-midle, .item-link {
		margin-bottom: 20px;
	}

	.item-box {
		width: 300px;
		height: 115px;
	}

	.image-box-left {
		width: 145px;
	}

	.image-left {
		left: 51.2%;
	}

	.image-midle {
    	left: 50%;
    	top: 38%;
	}

	.image-right {
    	left: 51.2%;
    	top: 67%;
	}

	.image-news {
    	top: 30.5%;
    	left: -5.5%;
    	width: 31%;
	}

	.item-title { 
		font-size: 14px;
	}

    .item-description {
    	margin-top: 8px;
    	font-size: 12px;
    }
    
	.container-item-double {
		display: block;
		top: 20px;
	}

	.item-double-box {
		width: 300px;
		height: 115px;
	}

	.image-news-left {
		left: -5.7%;
		top: -3%;
	}

	.image-box-down {
		width: 110%;
	}

	.image-down-left {
		left: 47.7%;
		top: -7%;
	}

	.image-news-right {
    	left: -5.5%;
    	top: 49%;
	}

	.image-box-small {
		width: 100%;	
	}

	.right-title {
		padding-top: 19px;
		font-size: 14px;
		margin-left: 12px;
	}

	.down-title {
    	padding-top: 24px;
    	margin-left: 12px;
    }

	.left-button, .right-button {
		margin-left: 12px;
		margin-top: 25px;
		width: 101px;
		height: 32px;
		font-size: 13px;
	}

	.left-button {
    	margin-top: 22px;
    }

	.description-down {
		font-size: 9px;
		max-width: 195px;
		margin-left: 12px;
		margin-top: 2px;
	}

	.right-button {
		margin-top: 9px;
	}

	.image-down-right {
    	left: 51%;
    	top: 51%;
	}

}












